.totalRevenue {
  background: linear-gradient(rgba(47, 95, 255, 1), rgba(28, 57, 153, 1));
  .viewDetails {
    background: linear-gradient(#1c3999, #2f5fff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
