.menu {
  background: transparent !important;
  border-inline-end: none !important;
  :global(.ant-menu-item) {
    display: flex !important;
    align-items: center;
    margin-inline: 0px !important;
    height: 50px !important;
    span {
      margin-left: 5px;
    }
  }
  :global(.ant-menu-submenu) {
    :global(.ant-menu-submenu-title) {
      display: flex !important;
      align-items: center;
      margin-inline: 0px !important;
      height: 50px !important;
      :global(.ant-menu-title-content) {
        margin-left: 5px;
      }
    }
  }
}
